<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger additivity="false" name="de.terrestris" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.springframework" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="com.zaxxer.hikari" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.apache.http" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.hql.ast.AST" level="debug">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.SQL" level="debug">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.type" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.tool.hbm2ddl" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.hql" level="debug">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.cache" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.transaction" level="debug">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger additivity="false" name="org.hibernate.jdbc" level="info">
            <AppenderRef ref="Console" />
        </Logger>
        <!-- <Logger additivity="false" name="org.hibernate.connection.DriverManagerConnectionProvider" level="trace">
            <AppenderRef ref="Console" />
        </Logger> -->
        <Root level="trace">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
