#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <display-name>${webapp-name}</display-name>

    <!-- Log4J configuration -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:META-INF/spring/*-context*.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Servlets -->
    <servlet>
        <servlet-name>${artifactId}</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/${artifactId}-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>${artifactId}</servlet-name>
        <url-pattern>*.action</url-pattern>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <!-- Needed for the Ext Direct api.js.
         See https://github.com/ralscha/extdirectspring/wiki/Api -->
    <servlet-mapping>
        <servlet-name>${artifactId}</servlet-name>
        <url-pattern>/action/*</url-pattern>
    </servlet-mapping>

    <!-- See de.terrestris.shogun2.web.ExtModelController -->
    <servlet-mapping>
        <servlet-name>${artifactId}</servlet-name>
        <url-pattern>/shogun2/model/*</url-pattern>
    </servlet-mapping>

    <!-- See de.terrestris.shogun2.web.ExtModelController -->
    <servlet-mapping>
        <servlet-name>${artifactId}</servlet-name>
        <url-pattern>/${artifactId}/model/*</url-pattern>
    </servlet-mapping>

    <!-- Misc -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Allow lazy loading in web views for JSON serializing -->
    <filter>
        <filter-name>openSessionInViewFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>openSessionInViewFilter</filter-name>
        <url-pattern>*.action</url-pattern>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>

</web-app>
